@charset "UTF-8";
/* frame around folders tree*/
.nestable-lists {
  display: block;
  clear: both;
  background-color: #ffffff;
  clear: both;
  padding: 30px;
  width: 100%;
  /*min-width:600px;*/
  margin: 0 auto; }

.dd {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  font-size: 13px;
  line-height: 20px; }

.dd-list {
  margin: 0;
  display: block;
  position: relative;
  margin-top: 5px;
  padding: 0;
  list-style: none; }

.dd-list .dd-list {
  padding-left: 30px; }

.dd-collapsed .dd-list {
  display: none; }

/* height used in dd-item element */
.dd-item {
  /* don't use display block here */
  margin-top: 10px;
  min-height: 50px;
  font-size: 13px;
  line-height: 50px;
  background: linear-gradient(to bottom, #c4c4c4 0%, #cecdce 50px, #fefefe 50px);
  padding-top: 0px;
  border-radius: 0px; }

.dd-item:hover {
  background: linear-gradient(to bottom, #cdeb8b 0%, #cdeb8b 50px, #fefefe 50px); }

.dd-empty {
  margin: 0;
  padding: 0;
  min-height: 20px;
  font-size: 13px;
  line-height: 20px; }

.dd-handle2 {
  height: 30px;
  margin: 0px 0;
  padding: 5px 10px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  border: 0px solid #ccc;
  background: #fafafa;
  background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#eee));
  background: linear-gradient(to bottom, #fafafa 0%, #eee 100%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -moz-box-sizing: border-box; }

.dd-handle {
  /*display: block; */
  /*position: relative;*/ }

.dd-handle:hover, .dd-handle2:hover {
  color: #2ea8e5;
  cursor: move; }

.dd-handle img {
  margin-right: 2px;
  margin-left: 5px; }

.dd-item > button {
  display: block;
  position: relative;
  cursor: pointer;
  float: left;
  width: 25px;
  height: 20px;
  margin: 5px 0;
  padding: 0;
  text-indent: 0;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  background: transparent;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  font-weight: bold; }

/*.dd-item > button:before { 
    content: '+';
    display: block; 
    position: absolute; 
    width: 100%; 
    text-align: center; 
    text-indent: 0; 
}*/
/*.dd-item > button[data-action="collapse"]:before { 
    content: '-'; 
}*/
.dd-placeholder {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 20px;
  margin: 5px 0;
  padding: 0;
  min-height: 30px;
  background: #92BB50;
  border-radius: 2px;
  border: 2px dashed #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#0094c2), to(#1ea9d0));
  background: linear-gradient(to bottom, #0094c2 0%, #1ea9d0 100%); }

.dd-dragel {
  position: absolute;
  pointer-events: none;
  z-index: 9999; }

.dd-dragel > .dd-item .dd-handle {
  margin-top: 0; }

.dd-dragel .dd-handle {
  -webkit-box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.1); }

@media (max-width: 600px) {
  .dd-handle {
    display: none; }
  .edit_title {
    display: none; }
  .deletepage {
    display: none; }
  .nestable-lists {
    padding: 0; }
  div[role="main"] ul, div[role="main"] ol {
    padding: 0; }
  .tbmenu_ul li {
    width: 100%; } }

@media (max-width: 968px) {
  .enrolcohorts, .enrolteacher, .showhidecourse, .dd-handle2, .buttonuserslist {
    display: none; } }

.tbcontainer h3 {
  background-color: #718DA3;
  /*background-image: url(../images/default/align.png);*/
  background-position: 20px center;
  background-repeat: no-repeat;
  background-size: 40px;
  color: white;
  padding: 15px;
  margin: 0px;
  font-size: 30px; }

.tbachievement h3 {
  background-color: #718DA3;
  /*background-image: url(../images/default/return.png);*/
  /*background-position: 20px center;*/
  /*background-repeat: no-repeat;*/
  /*background-size: 30px;*/
  color: white;
  padding: 50px;
  padding-left: 20px;
  margin: 0px; }

.tbmenu {
  background-color: #B0BDC6;
  padding: 0px; }

.tbmenu .navbar-default {
  min-height: 40px;
  background-color: #b0bdc6; }

.tbmenu_ul {
  padding: 0px;
  margin: 0px; }

/* hack to override padding-left of ul defined in the theme */
div[role="main"] ul, div[role="main"] ol {
  padding-left: 0px;
  overflow: visible; }

.tbmenu_ul li {
  list-style: none;
  display: inline-block;
  padding: 0px;
  margin: 0px; }

#managegroups {
  background-image: url(../images/default/groups.png);
  background-position: 5px center;
  background-repeat: no-repeat;
  background-size: 20px; }

.tbmenu_ul a, .tbmenu_ul a:visited {
  display: block;
  padding: 10px;
  text-decoration: none;
  width: 100%;
  color: black;
  height: 100%; }

.tbmenu li a:hover {
  color: white; }

.tbmenu li:hover {
  background-color: #718DA3; }

/* Surcharge de la navbar Bootstrap */
.tbmenu .navbar.navbar-default ul.navbar-right {
  margin: 0;
  background-color: initial;
  -webkit-transition: none;
  transition: none; }

.tbmenu .navbar-default .navbar-nav > li > a {
  padding: 10px;
  color: black; }

.tbmenu .navbar-default .navbar-nav > li > a:hover {
  color: white; }

.tbcontainer .nestable-lists {
  background-color: initial;
  padding: 0; }

.url {
  border-radius: 5px;
  border: 1px solid black;
  -webkit-box-shadow: 5px 5px 3px #aaa;
          box-shadow: 5px 5px 3px #aaa;
  background-repeat: no-repeat;
  background-color: #AB99EF;
  padding: 10px;
  width: 80%;
  margin: 10px auto;
  text-align: center; }

.url a {
  display: block;
  width: 100%;
  color: white; }

.data {
  background-image: url("format/page/images/data.png");
  border-radius: 5px;
  border: 1px solid black;
  -webkit-box-shadow: 5px 5px 3px #aaa;
          box-shadow: 5px 5px 3px #aaa;
  background-repeat: no-repeat;
  background-color: #8999EF;
  padding: 10px;
  width: 80%;
  margin: 10px auto;
  text-align: center; }

.page_popup {
  width: -moz-fit-content;
  margin: 10px auto;
  text-align: center;
  padding: 10px 5px 10px 5px;
  border: 1px solid #a7a9a9;
  background-color: #888C8C;
  border-radius: 4px;
  color: #FFF;
  text-shadow: 1px 1px 1px #000000;
  text-shadow: 1px 1px 1px #000000;
  -webkit-box-shadow: 1px 1px 6px #CCCCCC, 0 1px 0 rgba(204, 204, 204, 0.1);
          box-shadow: 1px 1px 6px #CCCCCC, 0 1px 0 rgba(204, 204, 204, 0.1); }

.page_popup a {
  display: block;
  width: 100%;
  color: white; }

.data a {
  display: block;
  width: 100%;
  color: white; }

.format_content td {
  border: 0px solid black; }

#account_style {
  display: block;
  list-style-type: none;
  margin: 0;
  font-weight: bold; }

#account_style li {
  background: url("../images/background_top_navigation.png") repeat-x scroll left top transparent;
  padding: 10px;
  float: left;
  border: 1px solid black;
  margin: 1px;
  border-radius: 3px;
  color: white; }

#account_style li.selected {
  background: none;
  background-color: #700407;
  color: #aaaaaa;
  padding: 10px;
  float: left;
  border: 1px solid black;
  margin: 1px;
  border-radius: 3px; }

#account_style li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 9px; }

#account_style li:hover {
  background: none;
  background-color: #700407;
  color: #aaaaaa; }

.addpage {
  background: url("../images/bouton_valider.png") no-repeat left top transparent;
  width: 139px;
  height: 46px;
  border: 0px; }

.addpage:hover {
  cursor: pointer; }

.add_fieldset {
  background-color: #eeeeee;
  padding: 10px;
  border: 1px solid #999999;
  margin: 10px; }

.alert {
  background: url("../images/background_top_navigation.png") repeat-x scroll left top transparent;
  padding: 10px;
  border: 1px solid black;
  margin: 1px;
  border-radius: 3px;
  color: white;
  width: 80%;
  margin: 0px auto;
  text-align: center; }

.bottom_button_right {
  float: right;
  margin: 20px;
  padding: 5px;
  padding-right: 20px;
  background-image: url("../images/right.png");
  background-position: 95% center;
  background-repeat: no-repeat; }

.bottom_button_left {
  float: left;
  margin: 20px;
  padding: 5px;
  padding-left: 20px;
  background-image: url("../images/left.png");
  background-position: 5% center;
  background-repeat: no-repeat; }

.bottom_button_left:hover, .bottom_button_right:hover {
  background-color: #dddddd;
  border-radius: 5px; }

.myinfo {
  margin: 4px auto;
  text-align: left;
  padding: 10px 5px 10px 5px;
  border: 1px solid #777777;
  background: #F4F4F4;
  background: -moz-linear-gradient(to bottom, #EEEEEE, #BBBBBB);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEEEEE), to(#BBBBBB));
  border-radius: 5px 5px 5px 5px; }

.input_course {
  border: 0px;
  margin: 0px;
  background: none;
  font-size: 1.2em !important;
  text-align: left;
  cursor: pointer;
  padding: 7px;
  padding-left: 0;
  /*@include box-shadow(inset 2px 2px 3px 0px #555555);*/
  background-color: transparent;
  color: black;
  height: 30px;
  width: 300px;
  line-height: normal; }

.input_course_edit {
  border: 0px;
  margin: 0px;
  background: none;
  border-radius: 5px;
  font-size: 1em !important;
  text-align: left;
  cursor: text;
  padding: 7px;
  background-color: #fdab03;
  /*@include box-shadow(inset 2px 2px 3px 0px #555555);*/
  height: 30px;
  width: 300px; }

ul.walkincourses {
  margin-left: 30px; }

.walkincourses li:hover {
  background-color: #e5e5e5;
  border-left: 2px solid transparent;
  padding-left: 10px; }

.walkincourses li li:hover {
  background-color: #f1f1f1;
  border-left: 2px solid transparent;
  padding-left: 10px; }

.walkincourses li li li:hover {
  background-color: #ffffff;
  border-left: 2px solid transparent;
  padding-left: 10px; }

.walkincourses li {
  border-left: 2px solid transparent;
  list-style-type: none;
  padding-left: 10px;
  margin: 5px; }

.moveable {
  border: 1px solid transparent; }

.moveable:hover {
  border: 1px solid black;
  cursor: move; }

.placeholder {
  background-color: #ffffff;
  border: 2px dotted #000000; }

.no-nest {
  background-color: #eeeeee; }

.showhide {
  float: left;
  margin: 2px;
  margin-top: 3px; }

.showhide:hover {
  cursor: pointer; }

/* button used to show courses in a folder*/
.showactivities {
  /*float:left;*/
  margin: 4px;
  margin-top: 5px; }

.showactivities:hover {
  cursor: pointer; }

.showhidecourse:hover {
  cursor: pointer; }

/* button 'plus' to add a new course */
.addcoursefolder {
  /*float:left;*/
  margin: 2px;
  margin-top: 5px; }

.addcoursefolder:hover, .addnewmodule:hover {
  cursor: pointer; }

/* pen used to edit folder name*/
.edit_title {
  /*float:left;*/
  margin: 2px;
  margin-top: 5px; }

.edit_title:hover {
  cursor: pointer; }

.duplicate:hover {
  cursor: pointer; }

.moveup:hover {
  cursor: pointer; }

.movedown:hover {
  cursor: pointer; }

.deleteitem:hover {
  cursor: pointer; }

.unenrolitem:hover {
  cursor: pointer; }

.deletepage {
  /*position:relative;*/
  /*margin-top:5px;*/
  margin-right: 7px; }

.deletepage:hover {
  cursor: pointer; }

.module {
  width: -moz-fit-content;
  margin: 10px auto;
  text-align: center;
  padding: 10px 5px 10px 5px;
  border: 1px solid #a7a9a9;
  background-color: #888C8C;
  border-radius: 4px;
  color: #FFF;
  text-shadow: 1px 1px 1px #000000;
  -webkit-box-shadow: 1px 1px 6px #CCCCCC, 0 1px 0 rgba(204, 204, 204, 0.1);
          box-shadow: 1px 1px 6px #CCCCCC, 0 1px 0 rgba(204, 204, 204, 0.1); }

.module:hover {
  width: -moz-fit-content;
  margin: 10px auto;
  text-align: center;
  padding: 10px 5px 10px 5px;
  border: 1px solid #a7a9a9;
  background-color: #888C8C;
  border-radius: 4px;
  color: #FFF;
  text-shadow: 1px 1px 1px #000000;
  -webkit-box-shadow: 1px 1px 6px #CCCCCC, 0 1px 0 rgba(204, 204, 204, 0.1);
          box-shadow: 1px 1px 6px #CCCCCC, 0 1px 0 rgba(204, 204, 204, 0.1); }

.module:active {
  width: -moz-fit-content;
  margin: 10px auto;
  text-align: center;
  padding: 10px 5px 10px 5px;
  border: 1px solid #a7a9a9;
  background-color: #888C8C;
  border-radius: 4px;
  color: #FFF;
  text-shadow: 1px 1px 1px #000000;
  -webkit-box-shadow: 1px 1px 6px #CCCCCC, 0 1px 0 rgba(204, 204, 204, 0.1);
          box-shadow: 1px 1px 6px #CCCCCC, 0 1px 0 rgba(204, 204, 204, 0.1); }

.module a, a:active {
  color: white; }

.addmodule_page {
  float: right;
  margin: 20px;
  padding: 5px;
  padding-left: 20px;
  background-image: url("../images/addgreen.gif");
  background-position: 5% center;
  background-repeat: no-repeat;
  background-color: #dddddd;
  border-radius: 5px; }

.addmodule_page:hover {
  background-color: #aaaaaa;
  border-radius: 5px; }

.module_mode_edit {
  padding: 10px;
  background: -moz-linear-gradient(center top, #F9F9F9, #E0E0E0) repeat scroll 0 0 transparent;
  border: 3px solid #FFFFFF;
  border-radius: 10px 10px 10px 10px;
  border: 2px solid #FFFFFF;
  -webkit-box-shadow: 1px 1px 6px #CCCCCC, 0 1px 0 rgba(204, 204, 204, 0.1);
          box-shadow: 1px 1px 6px #CCCCCC, 0 1px 0 rgba(204, 204, 204, 0.1);
  margin: 1em 0.5em; }

.module_mode_unavailable {
  border: 2px dashed black;
  border-radius: 10px;
  margin-bottom: 5px;
  background-color: #aaaaaa; }

.modules_table {
  display: none;
  /*@include box-shadow(1px 1px 5px #555);*/
  margin: 0px auto 5px auto;
  border: 1px solid #d0d5eb;
  width: 100%;
  border-spacing: 0px;
  background-color: #ffffff; }

.modules_table th {
  text-align: center;
  border: 0px solid black;
  margin: 0;
  background-color: #d0d5eb;
  font-size: 13px;
  font-weight: 900;
  padding: 8px;
  background: #b9c9fe url("../images/gradhead.png") repeat-x;
  color: #039; }

.modules_table td {
  text-align: center;
  margin: 0;
  height: 20px;
  padding: 8px;
  color: #669;
  background-color: #DBE3FF;
  /*background: #e8edff url('../images/gradback.png') repeat-x;*/
  border: 1px solid white; }

.modules_table tfoot tr td {
  background: #e8edff;
  font-size: 16px;
  color: #99c;
  text-align: center; }

.modules_table td.dd-placeholder {
  background: #0094c2;
  font-size: 16px;
  color: #99c;
  text-align: center; }

.modules_table td.dd-empty {
  background: #eeeeee;
  font-size: 16px;
  color: #99c;
  text-align: center; }

.modules_table tbody tr:hover td {
  /*background: #d0dafd url('../images/gradhover.png') repeat-x;*/
  background-color: #B0BDC6;
  color: #339; }

.modules_table tbody tr:hover td.dd-placeholder {
  background: #1ea9d0;
  color: #339; }

.modules_table a, .modules_table a:visited, .modules_table a:hover, .modules_table a:focus {
  color: black;
  text-decoration: none; }

.modules_table a:hover {
  text-decoration: underline; }

.modules_table input {
  border: 0px;
  background-color: white;
  /*width:20px;*/
  padding: 3px;
  text-align: center; }

.object_name {
  width: 70%; }

.modules_table .object_name {
  text-align: left;
  padding-left: 30px; }

table a:not(.btn), .table a:not(.btn) a:hover {
  text-decoration: none; }

.input-file-container {
  position: relative;
  width: 50%;
  margin: 20px auto; }

.input-file-trigger {
  display: block;
  padding: 5px 30px;
  background: #47A3DA;
  color: #fff;
  font-size: 1em;
  -webkit-transition: all .4s;
  transition: all .4s;
  cursor: pointer;
  border-radius: 5px;
  text-align: center; }

.input-file {
  position: absolute;
  top: 0;
  left: 0;
  width: 225px;
  padding: 14px 0;
  opacity: 0;
  cursor: pointer; }

/* quelques styles d'interactions */
.input-file:hover + .input-file-trigger,
.input-file:focus + .input-file-trigger,
.input-file-trigger:hover,
.input-file-trigger:focus {
  background: #34495E;
  color: #FFFFFF; }

/* styles du retour visuel */
.file-return {
  margin: 0; }

.file-return:not(:empty) {
  margin: 1em 0; }

.file-return {
  font-style: italic;
  font-size: .9em;
  font-weight: bold; }

/* on complète l'information d'un contenu textuel
   uniquement lorsque le paragraphe n'est pas vide */
.file-return:not(:empty):before {
  content: "Selected file: ";
  font-style: normal;
  font-weight: normal; }

.remove {
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s; }

.badge_header:hover > .remove {
  opacity: 1; }

.modules_table td.module_checked {
  background-color: #A9C031 !important; }

.modules_table td.highlighted, .modules_table th.highlighted {
  background-color: #B0BDC6; }

.modules_table tbody td.highlighted-checked {
  background-color: #8EA227 !important; }

body h3 {
  text-shadow: none; }

.course-modal {
  z-index: 5000; }

.course-modal-container {
  padding: unset;
  background: #F5EFEF; }

.course-modal-header {
  padding: unset;
  vertical-align: middle; }

.course-modal-body {
  padding-top: 0px; }

.course-modal-row {
  margin: auto;
  padding: inherit; }

h3.course-modal-title {
  background: inherit;
  color: black; }

.course-modal-activityblock {
  text-align: center;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  height: 110px;
  background: white;
  cursor: pointer; }

.course-modal-activityblock:hover {
  background: #DBE3FF; }

.course-modal-simpleactivityimage {
  margin-top: 10px;
  height: auto;
  width: auto;
  max-height: 70px; }

.course-modal-imageblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  max-width: 100px;
  max-height: -webkit-fill-available;
  max-height: -moz-available;
  max-height: stretch;
  margin: auto; }

.course-modal-completecourse {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  min-height: 70px;
  height: auto;
  cursor: pointer; }

.course-modal-completecourse:hover {
  background: #DBE3FF; }

.course-modal-description {
  text-align: center; }

button.course-modal-close {
  color: white !important;
  vertical-align: middle !important;
  padding: 15px !important;
  opacity: 1 !important;
  margin: 0px !important;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  font-size: 200%;
  display: block;
  border-radius: 0px !important; }

.newcourse-modal-valbtn {
  text-align: center;
  margin: auto !important;
  display: block; }

.modal-content {
  border-radius: 0px !important; }

/*

// This file is part of TeacherBoard
//
// TeacherBoard is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// TeacherBoard is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
*/
/* 
    Author     : Pascal Fautrero <pascal.fautrero@ac-versailles.fr>
*/
#tab-cohorts li, #teachers-block li, #tab-enrolmeta li {
  list-style: none;
  display: inline-block;
  width: 20%; }

#tab-enrolmeta ul,
#tab-teachers ul,
#tab-cohorts ul {
  margin: inherit;
  padding-left: 0px; }

#tab-enrolmeta .course_not_selected .enroldiv,
#tab-cohorts .cohort_not_selected .enroldiv,
#teachers-block .enrolteacher_li .notenrolled {
  margin: 5px;
  padding: 10px;
  border-radius: 3px;
  background-color: darkgrey;
  overflow: hidden;
  height: 75px; }

#tab-enrolmeta .course_not_selected:hover .enroldiv,
#tab-cohorts .cohort_not_selected:hover .enroldiv,
#teachers-block .enrolteacher_li:hover .notenrolled {
  margin: 5px;
  padding: 10px;
  border-radius: 3px;
  background-color: #dddddd;
  cursor: pointer; }

#tab-enrolmeta .course_selected .enroldiv,
#tab-cohorts .cohort_selected .enroldiv,
#teachers-block .enrolteacher_li .enrolled {
  margin: 5px;
  padding: 10px;
  border-radius: 3px;
  background-color: #A8C131;
  overflow: hidden;
  height: 75px; }

#tab-enrolmeta .course_selected:hover .enroldiv,
#tab-cohorts .cohort_selected:hover .enroldiv,
#teachers-block .enrolteacher_li:hover .enrolled {
  margin: 5px;
  padding: 10px;
  border-radius: 3px;
  background-color: #ccdd7b;
  cursor: pointer; }

#tab-enrolmeta .course_inprogress .enroldiv,
#tab-cohorts .cohort_inprogress .enroldiv,
#teachers-block .enrolteacher_li .enrolling {
  margin: 5px;
  padding: 10px;
  border-radius: 3px;
  background-color: #f7941d;
  overflow: hidden;
  height: 75px; }

.metacoursepopup-folder li {
  width: 100% !important; }

.metacoursepopup-folder h4 {
  font-weight: bold; }

/*
The MIT License (MIT)
Copyright (c) 2014 Tobias Ahlin
Permission is hereby granted, free of charge, to any person obtaining a copy of
this software and associated documentation files (the "Software"), to deal in
the Software without restriction, including without limitation the rights to
use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
the Software, and to permit persons to whom the Software is furnished to do so,
subject to the following conditions:
The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/
.spinner {
  margin: 0px auto 0;
  width: 70px;
  text-align: center; }

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s; }

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s; }

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0); }
  40% {
    -webkit-transform: scale(1); } }

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

.table_achievement tr {
  border-spacing: 5px;
  line-height: 30px; }

.table_achievement td {
  padding: 0px; }

.table_achievement td.cell_green {
  background-color: #92BB50;
  text-align: center;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-box-shadow: inset -8px 0px 5px -6px rgba(0, 0, 0, 0.5);
          box-shadow: inset -8px 0px 5px -6px rgba(0, 0, 0, 0.5); }

.table_achievement td.cell_green:hover {
  background-color: #528B10;
  cursor: pointer; }

.table_achievement td.cell_grey {
  background-color: #E0E0E0;
  text-align: center;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-box-shadow: inset -8px 0px 5px -6px rgba(0, 0, 0, 0.5);
          box-shadow: inset -8px 0px 5px -6px rgba(0, 0, 0, 0.5); }

.table_achievement td.cell_grey:hover {
  background-color: #A0A0A0;
  cursor: pointer; }

.table_achievement td.identity {
  background-color: #4AA1D6;
  width: 20%;
  color: white;
  -webkit-box-shadow: inset -12px 0px 15px -6px rgba(0, 0, 0, 0.5);
          box-shadow: inset -12px 0px 15px -6px rgba(0, 0, 0, 0.5);
  padding: 10px; }

.table_achievement .not_completed {
  position: relative;
  max-width: 20px;
  max-height: 20px;
  width: 80%;
  margin: 0px auto;
  border: 3px solid black;
  border-radius: 10px; }

.table_achievement .not_completed:before {
  content: "";
  display: block;
  padding-top: 100%;
  /* initial ratio of 1:1*/ }

.table_achievement .completed {
  position: relative;
  max-width: 20px;
  max-height: 20px;
  width: 80%;
  margin: 0px auto;
  border: 3px solid black;
  border-radius: 10px;
  background: black; }

.table_achievement .completed:before {
  content: "";
  display: block;
  padding-top: 100%;
  /* initial ratio of 1:1*/ }

.table_achievement img.icon {
  margin-top: 5px;
  height: 24px;
  width: 24px; }

.table_achievement .hrow {
  padding-left: 10px;
  padding-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
