/* frame around folders tree*/
.nestable-lists {
    display:block; 
    clear:both;
    background-color: #ffffff;
    clear: both;
    padding: 30px ; 
    width: 100%;
    /*min-width:600px;*/
    margin:0 auto;
}

.dd { 
    position: relative; 
    display: block;
    margin: 0; 
    padding: 0;  
    width: 100%;
    list-style: none; 
    font-size: 13px; 
    line-height: 20px; 
}
.dd-list {  
    margin:0;
    display: block; 
    position: relative;
    margin-top: 5px; 
    padding: 0; 
    list-style: none; 
}
.dd-list .dd-list { 
    padding-left: 30px; 
}
.dd-collapsed .dd-list { 
    display: none; 
}


/* height used in dd-item element */
$minheight : 50px;

.dd-item { 
    /* don't use display block here */
    margin-top: 10px; 
    min-height: $minheight; 
    font-size: 13px; 
    line-height: $minheight;
    background: linear-gradient(to bottom, 
        rgba(196,196,196,1) 0%,
        rgba(206,205,206,1) $minheight,
        rgba(254,254,254,1) $minheight);
    padding-top:0px;
    border-radius:0px;
}

.dd-item:hover {
    background: linear-gradient(to bottom, 
        rgba(205,235,139,1) 0%,
        rgba(205,235,139,1) $minheight,
        rgba(254,254,254,1) $minheight);
}

.dd-empty { 
    margin: 0; 
    padding: 0; 
    min-height: 20px; 
    font-size: 13px; 
    line-height: 20px; 
}

.dd-handle2 {
    height: 30px; 
    margin: 0px 0; 
    padding: 5px 10px; 
    color: #333; 
    text-decoration: none; 
    font-weight: bold; 
    border: 0px solid #ccc;
    background: #fafafa;
    background: -webkit-linear-gradient(to bottom, #fafafa 0%, #eee 100%);
    background:    -moz-linear-gradient(to bottom, #fafafa 0%, #eee 100%);
    background:         linear-gradient(to bottom, #fafafa 0%, #eee 100%);
    box-sizing: border-box; -moz-box-sizing: border-box;
}
.dd-handle{
    /*display: block; */
    /*position: relative;*/
}

.dd-handle:hover, .dd-handle2:hover { 
    color: #2ea8e5; 
    cursor:move;
}

.dd-handle img{
    margin-right:2px;
    margin-left:5px;
}

.dd-item > button { 
    display: block; 
    position: relative; 
    cursor: pointer; 
    float: left; 
    width: 25px; 
    height: 20px; 
    margin: 5px 0; 
    padding: 0; 
    text-indent: 0; 
    white-space: nowrap; 
    overflow: hidden; 
    border: 0; 
    background: transparent; 
    font-size: 12px; 
    line-height: 1; 
    text-align: center; 
    font-weight: bold; 
}
/*.dd-item > button:before { 
    content: '+';
    display: block; 
    position: absolute; 
    width: 100%; 
    text-align: center; 
    text-indent: 0; 
}*/
/*.dd-item > button[data-action="collapse"]:before { 
    content: '-'; 
}*/

.dd-placeholder { 
    margin: 0; 
    padding: 0; 
    font-size: 13px; 
    line-height: 20px;
    margin: 5px 0; 
    padding: 0; 
    min-height: 30px; 
    background: #92BB50; 
    border-radius:2px; 
    border: 2px dashed #ffffff; 
    background: -webkit-linear-gradient(to bottom, #0094c2 0%, #1ea9d0 100%);
    background:    -moz-linear-gradient(to bottom, #0094c2 0%, #1ea9d0 100%);
    background:         linear-gradient(to bottom, #0094c2 0%, #1ea9d0 100%);
}


.dd-dragel { 
    position: absolute; 
    pointer-events: none; 
    z-index: 9999; 
}
.dd-dragel > .dd-item .dd-handle { 
    margin-top: 0; 
}
.dd-dragel .dd-handle {
    -webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
            box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
}
@media (max-width:600px) {
	.dd-handle {
		display:none;
	}
	.edit_title {
		display: none;
	}
	.deletepage {
		display: none;
	}
	.nestable-lists {
		padding:0;
	}
	div[role="main"] ul, div[role="main"] ol {
		padding:0;
	}
	.tbmenu_ul li {
		width:100%;
	}
}
@media (max-width:968px) {
	.enrolcohorts, .enrolteacher, .showhidecourse, .dd-handle2, .buttonuserslist {
		display: none;
	}

}
