.tbcontainer h3 {
    background-color: #718DA3;
    /*background-image: url(../images/default/align.png);*/
    background-position: 20px center;
    background-repeat: no-repeat;
    background-size: 40px;
    color: white;
    padding: 15px;
    margin:0px;
    font-size: 30px;

}
.tbachievement h3 {
    background-color: #718DA3;
    /*background-image: url(../images/default/return.png);*/
    /*background-position: 20px center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: 30px;*/
    color: white;
    padding: 50px;
    padding-left: 20px;
    margin:0px;
}
.tbmenu {
    background-color: #B0BDC6;
    padding: 0px;

}
.tbmenu .navbar-default{
    min-height: 40px;
    background-color: #b0bdc6;
}

.tbmenu_ul{
    padding:0px;
    margin:0px;
}

/* hack to override padding-left of ul defined in the theme */
div[role="main"] ul, div[role="main"] ol {
    padding-left: 0px;
    overflow: visible;
}

.tbmenu_ul li {
    list-style: none;
    display:inline-block;
    padding:0px;
    margin:0px;

}

#managegroups {
    background-image: url(../images/default/groups.png);
    background-position: 5px center;
    background-repeat: no-repeat;
    background-size: 20px;

}



.tbmenu_ul a , .tbmenu_ul a:visited{
    display: block;
    padding: 10px; 
    text-decoration: none;
    width:100%;
    color: black;
    height:100%;
}
.tbmenu li a:hover {
    color: white;
}

.tbmenu li:hover{
    background-color:#718DA3;
}

/* Surcharge de la navbar Bootstrap */
.tbmenu {
    .navbar.navbar-default ul.navbar-right{
        margin: 0;
        background-color: initial;
        transition: none;
    }
    .navbar-default .navbar-nav > li > a{
        padding: 10px;
        color: black;
    }
    .navbar-default .navbar-nav > li > a:hover{
        color: white;
    }
}

.tbcontainer .nestable-lists{
    background-color: initial;
    padding: 0;
}


.url {
    border-radius: 5px;
    border:1px solid black;
    box-shadow: 5px 5px 3px #aaa;
    background-repeat:no-repeat;
    background-color:#AB99EF;
    padding:10px;
    width:80%;
    margin:10px auto;
    text-align:center;
}
.url a{
    display:block;
    width:100%;
    color:white;
}
.data {
    background-image: url('format/page/images/data.png');
    border-radius: 5px;
    border:1px solid black;
    box-shadow: 5px 5px 3px #aaa;
    background-repeat:no-repeat;
    background-color:#8999EF;
    padding:10px;
    width:80%;
    margin:10px auto;
    text-align:center;
}

.page_popup {

    width:-moz-fit-content;
    margin:10px auto;
    text-align:center;
    padding:10px 5px 10px 5px;
    border:1px solid #a7a9a9;
    background-color:#888C8C;
    border-radius: 4px;
    color:#FFF;
    text-shadow:1px 1px 1px #000000;text-shadow:1px 1px 1px #000000;
    box-shadow: 1px 1px 6px #CCCCCC, 0 1px 0 rgba(204, 204, 204, 0.1);
}
.page_popup a{
    display:block;
    width:100%;
    color:white;
}
.data a{
    display:block;
    width:100%;
    color:white;
}
.format_content td{
    border: 0px solid black;

}
.format_content {

}
#account_style {
    display: block;
    list-style-type: none;
    margin: 0;
    font-weight : bold;

}

#account_style li {
    background: url("../images/background_top_navigation.png") repeat-x scroll left top transparent;
    padding: 10px;
    float: left;
    border:1px solid black;
    margin:1px;
    border-radius:3px;
    color: white;
}
#account_style li.selected{
    background: none;
    background-color: #700407;
    color: #aaaaaa;
    padding: 10px;
    float: left;
    border: 1px solid black;
    margin: 1px;
    border-radius: 3px;

}
#account_style li a {
    display: block;
    width:100%;
    height:100%;
    padding: 9px;
}
#account_style li:hover {
    background: none;
    background-color: #700407;
    color: #aaaaaa;
}
.addpage {
    background: url("../images/bouton_valider.png") no-repeat left top transparent;
    width: 139px;
    height: 46px;
    border: 0px;
}
.addpage:hover {
    cursor: pointer;
}
.add_fieldset {
    background-color: #eeeeee;
    padding: 10px;
    border: 1px solid #999999;
    margin: 10px;
}
.alert {
    background: url("../images/background_top_navigation.png") repeat-x scroll left top transparent;
    padding: 10px;
    border: 1px solid black;
    margin: 1px;
    border-radius: 3px;
    color:white;
    width:80%;
    margin:0px auto;
    text-align:center;
}

.bottom_button_right{
    float:right;
    margin:20px;
    padding:5px;
    padding-right:20px;
    background-image: url("../images/right.png");
    background-position: 95% center;
    background-repeat: no-repeat;
}
.bottom_button_left{
    float:left;
    margin:20px;
    padding:5px;
    padding-left:20px;
    background-image: url("../images/left.png");
    background-position: 5% center;
    background-repeat: no-repeat;
}

.bottom_button_left:hover,.bottom_button_right:hover{
    background-color: #dddddd;
    border-radius: 5px;
}
.myinfo {
    margin:4px auto;
    text-align:left;
    padding:10px 5px 10px 5px;
    border:1px solid #777777;
    background:#F4F4F4;
    background: -moz-linear-gradient(to bottom, #EEEEEE, #BBBBBB);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEEEEE), to(#BBBBBB));
    border-radius: 5px 5px 5px 5px;
}
.input_course{
    border:0px;
    margin:0px;
    background:none;

    font-size:1.2em !important;
    text-align:left;
    cursor:pointer;
    padding:7px;
    padding-left:0;
    /*@include box-shadow(inset 2px 2px 3px 0px #555555);*/
    background-color: transparent;
    color: black;
    height:30px;
    width:300px;
    line-height: normal;
}

.input_course_edit {
    border:0px;
    margin:0px;
    background:none;
    border-radius: 5px;
    font-size:1em !important;
    text-align:left;
    cursor:text;
    padding:7px;
    background-color: #fdab03;
    /*@include box-shadow(inset 2px 2px 3px 0px #555555);*/
    height:30px;
    width:300px;
}

ul.walkincourses{
    margin-left:30px;
}
.walkincourses li:hover{
    background-color: #e5e5e5;
    border-left: 2px solid transparent;
    padding-left: 10px;

}
.walkincourses li li:hover{
    background-color: #f1f1f1;
    border-left: 2px solid transparent;
    padding-left: 10px;
}
.walkincourses li li li:hover{
    background-color: #ffffff;
    border-left: 2px solid transparent;
    padding-left: 10px;
}
.walkincourses li{

    border-left:2px solid transparent;
    list-style-type: none;
    padding-left:10px;
    margin:5px;
}

.moveable {
    border:1px solid transparent;
}
.moveable:hover {
    border:1px solid black;
    cursor:move;

}

.placeholder {
    background-color:#ffffff;
    border:2px dotted #000000;
}
.no-nest{
    background-color:#eeeeee;
}
.showhide {
    float:left;
    margin:2px;
    margin-top:3px;
}
.showhide:hover {
    cursor:pointer;
}
/* button used to show courses in a folder*/
.showactivities {
    /*float:left;*/
    margin:4px;
    margin-top:5px;
}
.showactivities:hover {
    cursor:pointer;
}
.showhidecourse:hover {
    cursor:pointer;
}
/* button 'plus' to add a new course */
.addcoursefolder {
    /*float:left;*/
    margin:2px;
    margin-top:5px;
}
.addcoursefolder:hover , .addnewmodule:hover{
    cursor:pointer;
}

/* pen used to edit folder name*/
.edit_title {
    /*float:left;*/
    margin:2px;
    margin-top:5px;
}
.edit_title:hover {
	cursor:pointer;
}
.duplicate:hover {
    cursor:pointer;
}
.moveup:hover {
    cursor:pointer;
}
.movedown:hover {
    cursor:pointer;
}
.deleteitem:hover {
    cursor:pointer;
}
.unenrolitem:hover {
    cursor: pointer;
}
.deletepage{
    /*position:relative;*/
    /*margin-top:5px;*/
    margin-right:7px;
}

.deletepage:hover {
	cursor:pointer;
}
.module {

    width:-moz-fit-content;
    margin:10px auto;
    text-align:center;
    padding:10px 5px 10px 5px;
    border:1px solid #a7a9a9;
    background-color:#888C8C;
    border-radius: 4px;
    color:#FFF;
    text-shadow:1px 1px 1px #000000;
    box-shadow: 1px 1px 6px #CCCCCC, 0 1px 0 rgba(204, 204, 204, 0.1);

}
.module:hover {
    width:-moz-fit-content;
    margin:10px auto;
    text-align:center;
    padding:10px 5px 10px 5px;
    border:1px solid #a7a9a9;
    background-color:#888C8C;
    border-radius: 4px;
    color:#FFF;
    text-shadow:1px 1px 1px #000000;
    box-shadow: 1px 1px 6px #CCCCCC, 0 1px 0 rgba(204, 204, 204, 0.1);

}
.module:active {
    width:-moz-fit-content;
    margin:10px auto;
    text-align:center;
    padding:10px 5px 10px 5px;
    border:1px solid #a7a9a9;
    background-color:#888C8C;
    border-radius: 4px;
    color:#FFF;
    text-shadow:1px 1px 1px #000000;
    box-shadow: 1px 1px 6px #CCCCCC, 0 1px 0 rgba(204, 204, 204, 0.1);

}
.module a, a:active {
	color:white;
}

.addmodule_page{
    float:right;
    margin:20px;
    padding:5px;
    padding-left:20px;
    background-image: url("../images/addgreen.gif");
    background-position: 5% center;
    background-repeat: no-repeat;
    background-color:#dddddd;
    border-radius: 5px;
}

.addmodule_page:hover{
    background-color:#aaaaaa;
    border-radius: 5px;
}

.module_mode_edit{
    padding: 10px;
    background: -moz-linear-gradient(center top , #F9F9F9, #E0E0E0) repeat scroll 0 0 transparent;
    border: 3px solid #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    border: 2px solid #FFFFFF;
    box-shadow: 1px 1px 6px #CCCCCC, 0 1px 0 rgba(204, 204, 204, 0.1);
    margin:1em 0.5em;

}

.module_mode_unavailable{
    border:2px dashed black;
    border-radius: 10px;
    margin-bottom:5px;
    background-color:#aaaaaa;
}
.modules_table {
    display:none;
    /*@include box-shadow(1px 1px 5px #555);*/
    margin:0px auto 5px auto;
    border:1px solid #d0d5eb;
    width:100%;
    border-spacing: 0px;
    background-color: #ffffff;
}
.modules_table th {
    text-align:center;
    border:0px solid black;
    margin:0;
    background-color:#d0d5eb;
    font-size: 13px;
    font-weight: 900;
    padding: 8px;
    background: #b9c9fe url('../images/gradhead.png') repeat-x;
    color: #039;

}
.modules_table td {
    text-align:center;
    margin:0;
    height:20px;
    padding: 8px;
    color: #669;
    background-color: #DBE3FF;
    /*background: #e8edff url('../images/gradback.png') repeat-x;*/
    border:1px solid white;

}

.modules_table tfoot tr td {
    background: #e8edff;
    font-size: 16px;
    color: #99c;
    text-align:center;
}

.modules_table td.dd-placeholder {

    background: #0094c2;
    font-size: 16px;
    color: #99c;
    text-align:center;
}
.modules_table td.dd-empty {
    background: #eeeeee;
    font-size: 16px;
    color: #99c;
    text-align:center;
}

.modules_table tbody tr:hover td {
    /*background: #d0dafd url('../images/gradhover.png') repeat-x;*/
    background-color: #B0BDC6;
    color: #339;
}

.modules_table tbody tr:hover td.dd-placeholder {
    background: #1ea9d0;
    color: #339;
}

.modules_table a, .modules_table a:visited, .modules_table a:hover, .modules_table a:focus{
    color: black;
    text-decoration: none;
}

.modules_table a:hover {
    text-decoration:underline;
}
.modules_table input {
    border:0px;
    background-color:white;
    /*width:20px;*/
    padding:3px;
    text-align:center;
}
.object_name {
    width: 70%;

}
.modules_table .object_name {
    text-align:left;
    padding-left:30px;
}
table a:not(.btn), .table a:not(.btn) a:hover{
    text-decoration: none;
}




.input-file-container {
  position: relative;
  width: 50%;
  margin:20px auto;

}
.input-file-trigger {
  display: block;
  padding: 5px 30px;
  background: #47A3DA;
  color: #fff;
  font-size: 1em;
  transition: all .4s;
  cursor: pointer;
  border-radius: 5px;
  text-align:center;
}
.input-file {
  position: absolute;
  top: 0; left: 0;
  width: 225px;
  padding: 14px 0;
  opacity: 0;
  cursor: pointer;
}

/* quelques styles d'interactions */
.input-file:hover + .input-file-trigger,
.input-file:focus + .input-file-trigger,
.input-file-trigger:hover,
.input-file-trigger:focus {
  background: #34495E;
  color: #FFFFFF;
}

/* styles du retour visuel */
.file-return {
  margin: 0;
}
.file-return:not(:empty) {
  margin: 1em 0;
}
.file-return {
  font-style: italic;
  font-size: .9em;
  font-weight: bold;
}
/* on complète l'information d'un contenu textuel
   uniquement lorsque le paragraphe n'est pas vide */
.file-return:not(:empty):before {
  content: "Selected file: ";
  font-style: normal;
  font-weight: normal;
}
.remove {
	opacity:0;
	transition:1s;
}

.badge_header:hover > .remove {

	opacity:1;
}

.modules_table td.module_checked {
	background-color: #A9C031 !important;
}

.modules_table td.highlighted, .modules_table th.highlighted {
background-color:#B0BDC6;
}
.modules_table tbody td.highlighted-checked {
background-color: #8EA227 !important;
}

body h3 {
  text-shadow: none;
}

.course-modal {
    z-index: 5000;
}

.course-modal-container {
    padding: unset;
    background: #F5EFEF;
}

.course-modal-header {
    padding: unset;
    vertical-align: middle;
}

.course-modal-body {
    padding-top: 0px;
}

.course-modal-row {
    margin: auto;
    padding: inherit;
}

h3.course-modal-title {
    background: inherit;
    color: black;
}

.course-modal-activityblock {
    text-align: center;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    height: 110px;
    background: white;
    cursor: pointer;
}

.course-modal-activityblock:hover {
    background: #DBE3FF;
}

.course-modal-simpleactivityimage {
    margin-top: 10px;
    height: auto;
    width: auto;
    max-height: 70px;
}

.course-modal-imageblock {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 100px;
    max-height: stretch;
    margin: auto;
}

.course-modal-completecourse {
    margin-top: 10px;
    display: flex;
    align-items: center;
    background: white;
    min-height: 70px;
    height: auto;
    cursor: pointer;
}

.course-modal-completecourse:hover {
    background: #DBE3FF;
}

.course-modal-description {
    text-align: center;
}

button.course-modal-close {
    color: white !important;
    vertical-align: middle !important;
    padding: 15px !important;
    opacity: 1 !important;
    margin: 0px !important;
    height: max-content;
    font-size: 200%;
    display: block;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}

.newcourse-modal-valbtn {
    text-align: center;
    margin: auto !important;
    display: block;
}

.modal-content {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}
