.table_achievement tr {
    border-spacing: 5px;
    line-height: 30px;
}
.table_achievement td {
    padding : 0px;
}
.table_achievement td.cell_green {
    background-color: #92BB50;
    text-align:center;
    transition-duration: 1s;
    box-shadow: inset -8px 0px 5px -6px rgba(0,0,0,0.50);        
}
.table_achievement td.cell_green:hover {
    background-color: #528B10;
    
    cursor: pointer;
}
.table_achievement td.cell_grey {
    background-color: #E0E0E0;
    text-align:center;
    transition-duration: 1s;
    box-shadow: inset -8px 0px 5px -6px rgba(0,0,0,0.50);        
}
.table_achievement td.cell_grey:hover {
    background-color: #A0A0A0;
    cursor: pointer;
}
.table_achievement td.identity {
    background-color: #4AA1D6;
    width: 20%;
    color: white;
    box-shadow: inset -12px 0px 15px -6px rgba(0,0,0,0.50);
    padding: 10px;
}
.table_achievement .not_completed {
    position: relative;
    max-width:20px;
    max-height:20px;
    width: 80%;
    margin:0px auto;
    border:3px solid black;
    border-radius:10px;
}

.table_achievement .not_completed:before{
	content: "";
	display: block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}
.table_achievement .completed {
    position: relative;
    max-width:20px;
    max-height:20px;
    width: 80%;
    margin:0px auto;
    border:3px solid black;
    border-radius:10px;
    background: black;
}

.table_achievement .completed:before{
	content: "";
	display: block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}

.table_achievement img.icon{
    margin-top: 5px;
    height: 24px;
    width: 24px;
}

.table_achievement .hrow {
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}