/*

// This file is part of TeacherBoard
//
// TeacherBoard is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// TeacherBoard is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
*/

/* 
    Author     : Pascal Fautrero <pascal.fautrero@ac-versailles.fr>
*/

#tab-cohorts li, #teachers-block li, #tab-enrolmeta li{
    list-style: none;
    display: inline-block;
    width:20%;

}
#tab-enrolmeta ul,
#tab-teachers ul,
#tab-cohorts ul{
    margin: inherit;
    padding-left: 0px;
}
#tab-enrolmeta .course_not_selected .enroldiv,
#tab-cohorts .cohort_not_selected .enroldiv,
#teachers-block .enrolteacher_li .notenrolled{
    margin:5px;
    padding: 10px;
    border-radius: 3px;
    background-color: darkgrey;
    overflow: hidden;
    height: 75px;
}
#tab-enrolmeta .course_not_selected:hover  .enroldiv,
#tab-cohorts .cohort_not_selected:hover  .enroldiv,
#teachers-block .enrolteacher_li:hover .notenrolled{
    margin:5px;
    padding: 10px;
    border-radius: 3px;
    background-color: #dddddd;
    cursor: pointer;
}
#tab-enrolmeta .course_selected  .enroldiv,
#tab-cohorts .cohort_selected  .enroldiv,
#teachers-block .enrolteacher_li .enrolled{
    margin:5px;
    padding: 10px;
    border-radius: 3px;
    background-color: #A8C131;
    overflow: hidden;
    height: 75px;
}
#tab-enrolmeta .course_selected:hover  .enroldiv,
#tab-cohorts .cohort_selected:hover  .enroldiv,
#teachers-block .enrolteacher_li:hover .enrolled{
    margin:5px;
    padding: 10px;
    border-radius: 3px;
    background-color: lighten(#A8C131, 20%);
    cursor: pointer;
}
#tab-enrolmeta .course_inprogress  .enroldiv,
#tab-cohorts .cohort_inprogress  .enroldiv,
#teachers-block .enrolteacher_li .enrolling{
    margin:5px;
    padding: 10px;
    border-radius: 3px;
    background-color: #f7941d;
    overflow: hidden;
    height: 75px;
}

.metacoursepopup-folder li{
    width: 100% !important;
}

.metacoursepopup-folder h4 {
    font-weight: bold;
}